body {
  background-color: #6dccf2;
}
form {
  color: #732c02;
}
.btn {
  margin: 0.25%;
}
form {
  margin-top: 1%;
}
#newButton {
  padding: 1%;
}
.container {
  background-color: #57b7f2;
  margin: 2%;
  padding: 2%;
}
#gifPrint {
  color: white;
}
